/* Add your customizations of the theme styles here */

//Theme
.p-menubar {
    border-radius: 0;
}
.p-menubar-start {
    margin-right: $inlineSpacing;
    width: 50%;
}
@media screen and (min-width: 576px) {
    .p-menubar-start {
        width: min-content;
    }
}

.p-sidebar {
    padding: 0;
    .p-sidebar-header {
        padding: $panelContentPadding;
    }
    .p-sidebar-content {
        padding: 0 $panelContentPadding $panelContentPadding $panelContentPadding;
    }
}

.p-image-preview-indicator {
    border-radius: inherit;
}
.p-image-preview-container:hover > .p-image-preview-indicator {
    background-color: rgba(0, 0, 0, 0.5);
}

.p-avatar {
    width: 2.25rem;
    min-width: 2.25rem;
    height: 2.25rem;
    &.p-avatar-image.p-avatar-image-background {
        background-color: var(--surface-a);
        padding: 0.375rem;
    }
    &.p-avatar-sm {
        width: 1.625rem;
        min-width: 1.625rem;
        height: 1.625rem;
        &.p-avatar-image.p-avatar-image-background {
            padding: 0.25rem;
        }
    }
    &.p-avatar-lg {
        width: 3.25rem;
        min-width: 3.25rem;
        height: 3.25rem;
        &.p-avatar-image.p-avatar-image-background {
            padding: 0.5rem;
        }
    }
    &.p-avatar-xl {
        width: 4.5rem;
        min-width: 4.5rem;
        height: 4.5rem;
        &.p-avatar-image.p-avatar-image-background {
            padding: 0.75rem;
        }
    }
    &.p-avatar-circle {
        border-radius: 50%;
    }
}

.p-chip {
    border-radius: 18px;
    .p-chip-text {
        margin-top: 0.375rem;
        margin-bottom: 0.375rem;
    }
    &.p-chip-sm {
        border-radius: 14px;
        .p-chip-text {
            margin-top: 0.25rem;
            margin-bottom: 0.25rem;
        }
    }
    &.p-chip-lg {
        border-radius: 28px;
        .p-chip-text {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
    }
    &.p-chip-xl {
        border-radius: 40px;
        .p-chip-text {
            margin-top: 0.75rem;
            margin-bottom: 0.75rem;
        }
    }
}

.field {
    margin: $fieldMargin 0;
}
.p-float-label {
    .p-inputwrapper-filled ~ label,
    .p-inputwrapper-focus ~ label,
    input.p-filled ~ label,
    input:focus ~ label,
    textarea.p-filled ~ label,
    textarea:focus ~ label {
        font-size: 0.75rem;
        top: -0.625rem;
    }
    small {
        font-size: 0.75rem;
        position: absolute;
        top: 100%;
        line-height: 0.75;
    }
}

.p-toast {
    width: 91.6667%;
}
@media screen and (min-width: 576px) {
    .p-toast {
        width: 30rem;
    }
}

.p-speeddial-direction-right .p-speeddial-item:first-child {
    margin-left: 0.5rem;
}
.p-speeddial-direction-right .p-speeddial-item {
    margin: 0 0.25rem;
}
.p-speeddial-action {
    width: $buttonIconOnlyWidth;
    height: $buttonIconOnlyWidth;
    &:hover {
        text-decoration: none;
    }
}

.p-menubar {
    .p-menubar-button {
        &:hover {
            text-decoration: none;
        }
    }
}

.p-badge-layout {
    .p-badge {
        margin-left: $inlineSpacing;
        min-width: $fontSize;
        height: $fontSize;
        line-height: $fontSize;
    }
}
.p-badge-sm {
    margin-right: -0.25rem !important;
    min-width: $fontSize;
    height: $fontSize;
    line-height: $fontSize;
}

.p-datatable {
    &.p-datatable-card {
        .p-datatable-header {
            border: none;
            border-width: 0;
            border-top-left-radius: $borderRadius;
            border-top-right-radius: $borderRadius;
        }
        .p-paginator-bottom:last-child,
        .p-datatable-footer:last-child,
        .p-datatable-wrapper:last-child .p-datatable-table .p-datatable-tbody > tr:last-child > td {
            border: none;
            border-width: 0;
            border-bottom-left-radius: $borderRadius;
            border-bottom-right-radius: $borderRadius;
        }
    }
}

.p-autocomplete {
    .p-autocomplete-dropdown {
        background-color: transparent;
        color: $buttonBg;
        border: $outlinedButtonBorder;

        @include button-states {
            &:hover {
                background: rgba($buttonBg, $textButtonHoverBgOpacity);
                color: $buttonBg;
                border: $outlinedButtonBorder;
            }

            &:active {
                background: rgba($buttonBg, $textButtonActiveBgOpacity);
                color: $buttonBg;
                border: $outlinedButtonBorder;
            }
        }
    }
}

//Carousel
.p-carousel {
    &.p-carousel-one-item {
        .p-carousel-indicators,
        .p-carousel-prev,
        .p-carousel-next {
            display: none;
        }
    }
}

//Flex
@include surface-class("text", "color", $surfaceShades);
@include surface-class("surface", "background-color", $surfaceShades);
@include surface-class("border", "border-color", $surfaceShades);
.text-secondary {
    color: $textSecondaryColor !important;
}

.p-datepicker-trigger {
    background-color: transparent;
    color: $buttonBg;
    border: $outlinedButtonBorder;
    @include button-states {
        &:hover {
            background: rgba($buttonBg, $textButtonHoverBgOpacity);
            color: $buttonBg;
            border: $outlinedButtonBorder;
        }
        &:active {
            background: rgba($buttonBg, $textButtonActiveBgOpacity);
            color: $buttonBg;
            border: $outlinedButtonBorder;
        }
    }
}

//Yandex
.ymaps-2-1-79-map {
    border-radius: $borderRadius;
    .ymaps-2-1-79-inner-panes {
        border-radius: inherit;
    }
    .ymaps-2-1-79-float-button {
        // border: 0;
        border-radius: $borderRadius;
    }
}

//Custom
.p-button-chip .p-chip {
    background: linear-gradient(to left, var(--surface-d) 50%, var(--surface-a) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.5s ease-out;
}
.p-button-chip:not(a):not(.p-disabled):hover .p-chip {
    background-position: left bottom;
}
.p-button-chip:not(a):not(.p-disabled):hover .p-chip {
    background-color: var(--surface-d);
}

.emoji-picker-panel.p-overlaypanel {
    .p-overlaypanel-content {
        padding: 0;
        .emoji-mart {
            border-width: 0;
            background-color: $overlayContentBg;
        }
    }
}

.input-slider.p-slider {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: $borderRadius;
    .p-slider-range {
        border-bottom-left-radius: $borderRadius;
    }
}
.input-slider.p-inputnumber {
    .p-inputtext {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.min-h-content {
    min-height: $contentMinHeight;
}
.mt-header {
    margin-top: $headerHeight;
}

//Parallax Star
@function multiple-box-shadow($n) {
    $value: "#{random(2000)}px #{random(2000)}px #FFF";
    @for $i from 2 through $n {
        $value: "#{$value} , #{random(2000)}px #{random(2000)}px #FFF";
    }
    @return unquote($value);
}

$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);

.parallax-stars {
    height: 100%;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
    .stars {
        width: 1px;
        height: 1px;
        background: transparent;
        box-shadow: $shadows-small;
        animation: animStar 50s linear infinite;
        &:after {
            content: " ";
            position: absolute;
            top: 2000px;
            width: 1px;
            height: 1px;
            background: transparent;
            box-shadow: $shadows-small;
        }
    }
    .stars2 {
        width: 2px;
        height: 2px;
        background: transparent;
        box-shadow: $shadows-medium;
        animation: animStar 100s linear infinite;
        &:after {
            content: " ";
            position: absolute;
            top: 2000px;
            width: 2px;
            height: 2px;
            background: transparent;
            box-shadow: $shadows-medium;
        }
    }
    .stars3 {
        width: 3px;
        height: 3px;
        background: transparent;
        box-shadow: $shadows-big;
        animation: animStar 150s linear infinite;
        &:after {
            content: " ";
            position: absolute;
            top: 2000px;
            width: 3px;
            height: 3px;
            background: transparent;
            box-shadow: $shadows-big;
        }
    }
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}

//Drag Race
.roman {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/191814/seamless-space.png);
    background-color: black;
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    animation: background-scroll 100s linear infinite;
}

/*  Scroll background Set position at a big percent to minimize background scroll flickering */
@keyframes background-scroll {
    from {
        background-position-x: -100%;
    }
}

.astronaut {
    position: absolute;
    display: inline-block;
    transition: 4s;
    cursor: pointer;
    z-index: 2000;

    img {
        position: absolute;
        width: 50px;
        -webkit-animation: spin 10s linear infinite;
        -moz-animation: spin 10s linear infinite;
        animation: spin 10s linear infinite;
    }
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.x {
    -webkit-animation: x 20s linear infinite alternate;
    animation: x 20s linear infinite alternate;
}
.y {
    -webkit-animation: y 10s linear infinite alternate;
    animation: y 10s linear infinite alternate;
}

@-webkit-keyframes x {
    100% {
        -webkit-transform: translateX(calc(250px));
        transform: translateX(calc(250px));
    }
}
@keyframes x {
    100% {
        -webkit-transform: translateX(calc(250px));
        transform: translateX(calc(250px));
    }
}

@-webkit-keyframes y {
    100% {
        -webkit-transform: translateY(calc(90px));
        transform: translateY(calc(90px));
    }
}
@keyframes y {
    100% {
        -webkit-transform: translateY(calc(90px));
        transform: translateY(calc(90px));
    }
}

.black-hole {
    width: 80%;
    height: 80%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 0 10px #483e51, 0 0 20px #483e51, 0 0 30px #483e51, 0 0 40px #483e51, 0 0 50px #483e51,
        0 0 60px #483e51, 0 0 100px #483e51, 0 0 150px #483e51;
    -webkit-animation: pulse 5s linear infinite;
    animation: pulse 5s linear infinite;
}

@keyframes pulse {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        opacity: 0;
        transform: scale(1.2);
    }
}
@-webkit-keyframes pulse {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        opacity: 0;
        transform: scale(1.4);
    }
}
