/* Add your customizations of the theme styles here */
@import "primeflex/utils";

@include surface-class("text", "color", $surfaceShades);
@include surface-class("surface", "background-color", $surfaceShades);
@include surface-class("border", "border-color", $surfaceShades);

.text-secondary {
    color: $textSecondaryColor !important;
}

.p-menubar {
    border-radius: 0;
}

.p-menubar-start {
    margin-right: $inlineSpacing;
}

.p-avatar {
    width: 2.25rem;
    height: 2.25rem;
    &.p-avatar-lg {
        width: 3.25rem;
        height: 3.25rem;
    }
    &.p-avatar-xl {
        width: 4.25rem;
        height: 4.25rem;
    }
    img {
        border-radius: inherit;
    }
}

.p-dropdown {
    &.p-disabled {
        opacity: 1;
    }
    &:not(.p-disabled).p-focus {
        z-index: 1;
    }
}

.p-button.p-button-outlined.profile-button .profile-button-text {
    background: linear-gradient(to left, var(--surface-a) 50%, transparent 50%);
    background-size: 200%;
    background-position: right bottom;
    transition: background-position 0.5s ease-out;
}
.p-button.p-button-outlined.profile-button:not(a):not(.p-disabled):hover .profile-button-text {
    background-position: left bottom;
}
.p-button.p-button-outlined.profile-button:not(a):not(.p-disabled):hover {
    background-color: transparent;
}
