$colors: (
    "blue": #54b0f3,
    "green": #29c76f,
    "yellow": #f3d054,
    "cyan": #3ec9d6,
    "pink": #ea5455,
    "indigo": #5464f3,
    "teal": #0dc381,
    "orange": #ff9f42,
    "bluegray": #6878a0,
    "purple": #7254f3,
);

$primaryColor: #3f51b5;
$primaryLightColor: scale-color($primaryColor, $lightness: 60%) !default;
$primaryDarkColor: scale-color($primaryColor, $lightness: -10%) !default;
$primaryDarkerColor: scale-color($primaryColor, $lightness: -20%) !default;
$primaryTextColor: #ffffff;

$highlightBg: #e8eaf6;
$highlightTextColor: #495057;

@import "./_variables_light";
@import "./_overrides_variables";
@import "./designer/_components";
@import "./_extensions";
@import "./_overrides_styles";
